.faq {
    background: #F6F7FC !important;
    padding: 50px 0;
}

.accordion-button::after {
    width: 0px !important;
}

.accordion-button:focus {
    z-index: 3;
    box-shadow: none !important;
}

.accordion-button:not(.collapsed) {
    color: #07237a;
    background-color: transparent !important;
    box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}

.accordion-item {
    color: var(--bs-accordion-color);
    background-color: transparent !important;
    border: var(--bs-accordion-border-width) solid var(--bs-accordion-border-color);
}

.accordion {
    --bs-accordion-border-color: #f6fbff !important;
}

.accordion-button {
    background-color: transparent !important;
}

.accordion-item {
    border-color: #F6F7FC !important;
}

#faqAccordion .lets-talk-button{
    width: 100% !important;
}
@media (max-width: 568px) { 
    .faq .p-sm-1{
        padding: .2rem !important;
      }
   }